 <nav>
    <ul class="nav nav-pills">  
       <li class="active">@Html.ActionLink("Home", "Index", "Demo")</li>  
       <li class="dropdown">  
         <a class="dropdown-toggle" data-toggle="dropdown" href="#">DEMOs<b class="caret"></b></a>  
         <ul class="dropdown-menu">  
           <li>@Html.ActionLink("DataGrid demo", "DataGridDemo", "Demo")</li>  
           <li>@Html.ActionLink("Master Detail demo", "MasterDetailDemo", "Demo")</li>  
           <li>@Html.ActionLink("Many to Many demo", "ManyToManyDemo", "Demo")</li>  
           <li>@Html.ActionLink("Data bindings demo", "BindingsDemo", "Demo")</li>  
           <li>@Html.ActionLink("Collections demo", "CollectionsDemo", "Demo")</li>  
           <li>@Html.ActionLink("Folder Browser demo", "BrowserDemo", "Demo")</li>
        </ul>  
       </li>  
     </ul>  
 </nav>